In [2]:
#Usual imports
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
#load dataset
df = pd.read_csv('Clustering_GCLmIHC_200210.csv')[:3717].T[1:12].T
df.shape #reads out imported dataset dimentionality
df.head(5000)

,Brn3a-_neg,CalR+,MEIS2+,CAVIII+,FOXP2+,Syt6+,Syt10+,Satb2+,RBPMS+,Pvalb_neg,CalB_neg
0,1,0,0,0,0,0,0,0,0,1,1
1,0,0,1,0,0,0,0,0,0,0,1
2,0,1,1,0,0,0,0,0,1,0,0
3,0,0,1,0,0,0,0,0,1,0,0
4,0,0,1,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
3712,0,0,0,0,0,0,0,0,0,1,1
3713,0,0,0,0,0,1,0,0,0,0,0
3714,1,0,0,0,0,0,0,0,0,0,0
3715,1,0,0,0,0,0,0,0,0,1,1
3716,0,0,0,0,0,0,1,1,1,0,1

In [4]:
#imports for clustering
from sklearn.cluster import AgglomerativeClustering
clustering = AgglomerativeClustering(linkage="ward", n_clusters=30)
clustering.fit(df)

AgglomerativeClustering(affinity='euclidean', compute_full_tree='auto',
                        connectivity=None, distance_threshold=None,
                        linkage='ward', memory=None, n_clusters=30,
                        pooling_func='deprecated')

In [5]:
from scipy.cluster.hierarchy import dendrogram, linkage
linkage_matrix = linkage(df, 'ward')

In [6]:
clusterAssignment = clustering.labels_
print(clusterAssignment)

[16 28 23 ...  7 16  5]

In [13]:
def simdiff(class_a, class_b, clusterlist):
    class_a = np.array(df.iloc[clusterlist[class_a]])
    class_b = np.array(df.iloc[clusterlist[class_b]])
    sim = np.zeros((len(class_a[0]),), dtype=int)
    diff = np.zeros((len(class_a[0]),), dtype=int)
    for a in class_a:
        for b in class_b:
            a = np.array(a)
            b = np.array(b)
            x = np.array(np.logical_xor(list(a),list(b)))
            #sim
            sim = np.add(sim, ~x)
            #diff
            diff = np.add(diff, x)
    print("Sims: ", sorted(range(len(sim)), key=lambda k: -sim[k]))
    print("Diffs: ", sorted(range(len(diff)), key=lambda k: -diff[k]))
    return sim, diff

def simdiffindex(class_a, class_b):
    class_a = np.array(df.iloc[class_a])
    class_b = np.array(df.iloc[class_b])
    sim = np.zeros((len(class_a[0]),), dtype=int)
    diff = np.zeros((len(class_a[0]),), dtype=int)
    for a in class_a:
        for b in class_b:
            a = np.array(a)
            b = np.array(b)
            x = np.array(np.logical_xor(list(a),list(b)))
            #sim
            sim = np.add(sim, ~x)
            #diff
            diff = np.add(diff, x)
    return sim, diff, sorted(range(len(sim)), key=lambda k: -sim[k]), sorted(range(len(diff)), key=lambda k: -diff[k])

def build(linkage_matrix):
    l = pd.DataFrame(linkage_matrix)
    l = l.astype(int)
    n = len(l)
    i = 1
    d = {z:[z] for z in range(n + 1)}
    result = []
    for row in [list(l.iloc[z]) for z in range(n)]:
        if (i % 400 == 0):
            print(i)
        row0 = d[row[0]]
        row1 = d[row[1]]
        sim, diff, sort_sim, sort_diff = simdiffindex(row0, row1)
        d[n + i] = row0 + row1
        result.append([row0, row1, sort_sim, sort_diff])
        #result.append([row0, row1, sim, diff, sort_sim, sort_diff])
        i += 1
    return pd.DataFrame(result)

def find(a, b, r):
    z = [i for i in range(r.shape[0]) if ((a in r.iloc[i][0] and b in r.iloc[i][1]) or (a in r.iloc[i][1] and b in r.iloc[i][0]))]
    assert(len(z) == 1)
    return r.iloc[z[0]][2]

In [9]:
z = build(linkage_matrix)
z

400
800
1200
1600
2000
2400
2800
3200
3600

,0,1,2,3
0,[0],[18],"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
1,[1],[69],"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
2,[2],[14],"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
3,[3],[6],"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
4,[4],[26],"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
...,...,...,...,...
3711,"[23, 3696, 3695, 3691, 3667, 3657, 3651, 3587,...","[1557, 2171, 2555, 1359, 863, 1048, 2214, 893,...","[3, 5, 4, 6, 1, 7, 8, 9, 2, 10, 0]","[0, 10, 2, 9, 8, 7, 1, 6, 4, 3, 5]"
3712,"[3713, 3687, 3685, 3679, 3620, 3615, 3552, 354...","[23, 3696, 3695, 3691, 3667, 3657, 3651, 3587,...","[4, 3, 6, 7, 1, 9, 8, 2, 5, 0, 10]","[10, 0, 5, 2, 8, 9, 1, 7, 6, 3, 4]"
3713,"[3707, 3706, 3705, 3703, 3702, 3700, 3690, 368...","[3683, 3681, 3648, 3641, 3602, 3568, 3567, 342...","[0, 5, 6, 7, 9, 10, 8, 4, 3, 1, 2]","[2, 1, 3, 4, 8, 10, 9, 0, 5, 6, 7]"
3714,"[3550, 3522, 3509, 3474, 3405, 3404, 3254, 322...","[3713, 3687, 3685, 3679, 3620, 3615, 3552, 354...","[3, 4, 7, 1, 6, 8, 5, 2, 10, 0, 9]","[9, 0, 10, 2, 5, 8, 6, 1, 7, 4, 3]"
3715,"[3707, 3706, 3705, 3703, 3702, 3700, 3690, 368...","[3550, 3522, 3509, 3474, 3405, 3404, 3254, 322...","[7, 4, 6, 3, 1, 5, 9, 2, 10, 0, 8]","[8, 0, 10, 2, 9, 5, 1, 3, 6, 4, 7]"

In [14]:
find(23, 1557, z)

[3, 5, 4, 6, 1, 7, 8, 9, 2, 10, 0]