In [3]:
import pandas as pd

In [4]:
x1 = {'a': 1, 'b': 1, 'c': 2, 'd': 2, 'e': 1}
x2 = {'a': 2, 'b': 1, 'c': 2, 'd': 2, 'e': 1}
x3 = {'a': 1, 'b': 2, 'c': 1, 'd': 2, 'e': 2}
x = [x1, x2, x3]

In [5]:
toLists(x1)

NameError: name 'toLists' is not defined

In [7]:
def toLists(d):
    z = []
    k = list(d.keys())
    for i in range(len(d)):
        z += [[0] * len(d)]
        for j in range(len(d)):
            if (j < i + 1):
                z[i][j] = 0
            elif (d[k[i]] == d[k[j]]):
                z[i][j] = 1
    return z

def listToDF(lsts, k):
    df = pd.DataFrame(lsts, columns=k)
    df['x'] = k
    df.set_index('x', inplace=True)
    #df.rename(index={0:'zero',1:'one'}, inplace=True)
    return df

def dictToDF(d):
    return listToDF(toLists(d), d.keys())

In [8]:
dictToDF(x3)
x3 = {'a': 1, 'b': 2, 'c': 1, 'd': 2, 'e': 2}

In [9]:
def mergeProcedure(listDict):
    assert len(listDict) > 1, "You must merge multiple dictionaries."
    mergedLists = toLists(listDict[0])
    print(dictToDF(listDict[0]))
    for z in range(1, len(listDict)):
        mult = 1 / (z + 1)
        d = listDict[z]
        l = toLists(d)
        print(dictToDF(d))
        for i in range(len(listDict[0])):
            for j in range(i + 1, len(listDict[0])):
                mergedLists[i][j] = (1 - mult) * mergedLists[i][j] + (mult) * l[i][j]
            #print("Merge ", i)
            #print(listToDF(mergedLists, listDict[0].keys()))
    return mergedLists

In [10]:
m = mergeProcedure(x)

   a  b  c  d  e
x
a  0  1  0  0  1
b  0  0  0  0  1
c  0  0  0  1  0
d  0  0  0  0  0
e  0  0  0  0  0
   a  b  c  d  e
x
a  0  0  1  1  0
b  0  0  0  0  1
c  0  0  0  1  0
d  0  0  0  0  0
e  0  0  0  0  0
   a  b  c  d  e
x
a  0  0  1  0  0
b  0  0  0  1  1
c  0  0  0  0  0
d  0  0  0  0  1
e  0  0  0  0  0

In [11]:
listToDF(m, x1.keys())

   a         b         c         d         e
x
a  0  0.333333  0.666667  0.333333  0.333333
b  0  0.000000  0.000000  0.333333  1.000000
c  0  0.000000  0.000000  0.666667  0.000000
d  0  0.000000  0.000000  0.000000  0.333333
e  0  0.000000  0.000000  0.000000  0.000000