In [2]:
import numpy as np
import pandas as pd

In [3]:
d = {'slice': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'], 'cluster': [3, 1, 1, 2, 3, 3, 1, 2, 1]}

In [4]:
s = pd.DataFrame.from_dict(d)
s

  slice  cluster
0     a        3
1     b        1
2     c        1
3     d        2
4     e        3
5     f        3
6     g        1
7     h        2
8     i        1

In [26]:
x = {'a': 1, 'b': 1, 'c': 2, 'd': 2, 'e': 1}
x

{'a': 1, 'b': 1, 'c': 2, 'd': 2, 'e': 1}

In [104]:
d = []
for i in range(len(x)):
    d += [[0] * len(x)]
d

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [105]:
k = list(x.keys())
for i in range(len(x)):
    for j in range(i + 1, len(x)):
        if (x[k[i]] == x[k[j]]):
            d[i][j] = 1

In [106]:
d

[[0, 1, 0, 0, 1],
 [0, 0, 0, 0, 1],
 [0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [79]:
#another version
k = list(x.keys())
for i in range(len(x)):
    for j in range(len(x)):
        if (j < i + 1):
            d[i][j] = 'x'
        elif (x[k[i]] == x[k[j]]):
            d[i][j] = 1
d

[['x', 1, 0, 0, 1],
 ['x', 'x', 0, 0, 1],
 ['x', 'x', 'x', 1, 0],
 ['x', 'x', 'x', 'x', 0],
 ['x', 'x', 'x', 'x', 'x']]

In [110]:
def listToDF(lsts):
    df = pd.DataFrame(d, columns=k)
    df['x'] = k
    df.set_index('x', inplace=True)
    #df.rename(index={0:'zero',1:'one'}, inplace=True)
    return df
listToDF(d)

   a  b  c  d  e
x
a  0  1  0  0  1
b  0  0  0  0  1
c  0  0  0  1  0
d  0  0  0  0  0
e  0  0  0  0  0